<nav class="custom-navbar mt-3 mb-4">
    <div class="d-flex justify-content-between align-items-center w-100">
        <!-- Logo -->
        <a class="navbar-brand text-gradient fw-bold ms-2" routerLink="/home" style="text-decoration: none;">
            Venkatesh K</a>

        <!-- Nav Links -->
        <ul class="nav gap-1 gap-md-2">
            <li class="nav-item">
                <a class="nav-link custom-link" routerLink="/home" routerLinkActive="active-link">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link custom-link" routerLink="/about" routerLinkActive="active-link">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link custom-link" routerLink="/resume" routerLinkActive="active-link">Experience &
                    Education</a>
            </li>
            <li class="nav-item">
                <a class="nav-link custom-link" routerLink="/skills" routerLinkActive="active-link">Skills &
                    Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link custom-link" routerLink="/contact" routerLinkActive="active-link">Contact</a>
            </li>
        </ul>
    </div>
</nav>